.wrap {
    display: flex;
    justify-content: space-between;
}
.logicWrap {
    width: 888px;
}
.listContainer {
    max-width: 888px;
}
.btn {
    display: block;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    margin: 0 auto;

    border: 1px solid var(--gray-light);

    border-radius: 200px;
    background-color: transparent;
    transition: border-color 300ms ease-in-out;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--main);
}
.btn:hover,
.btn:focus,
.btn:active {
    border-color: var(--button-hover);
}
